/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * setup of the entire application * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.App {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 75px 90px auto;
  grid-template-areas:
    "header header header header header"
    ". gender habitat age ."
    ". list list list .";
    grid-gap: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * placement and presentation of all header and search items * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.search-items {
  background-color: black;
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  align-items: start;
  grid-template-areas:
    ". text . search ."
}

.search-items h1 {
  padding-bottom: 20px;
  grid-area: text;
  align-self: center;
  color: white;
  text-align: left;
}

.search-input {
  grid-area: search;
  align-self: center;
  justify-self: center;
  width: 75%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * placement of each dropdown button into appropriate grid space * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.filter-list-by-gender {
  grid-area: gender;
}

.filter-list-by-habitat {
  grid-area: habitat;
}

.sorted-list-by-age {
  grid-area: age;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * presentation of each dropdown section -- button and text  * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.dropdown {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.dropdown h3 {
  font-size: 15px;
}

.dropdownBtn {
  justify-self: center;
  width: 75%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * presentation of each cat listing  * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.divider {
  background-color: black;
  height: 5px;
  margin-bottom: 20px;
}

.cat-listing {
  grid-area: list;
}

.listing {
  display: grid;
  grid-template-columns: 50px 1fr 2fr 2fr 1fr 50px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.listing-image {
  grid-column: 3 / 4 ;
  background-color: yellow;
}

.listing-image img {
  width: 100%;
  height: 100%;
}

.listing-text {
  text-align: left;
  padding-left: 25px;
  grid-column: 4 / 5;
}

.listing-text b {
  text-decoration: underline;
}
